 
<!DOCTYPE html>

<html lang="en"> 
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

 @* Start Header*@
 <nav class="mt-5">
     <center>
            <a class="btn btn-primary" href="/Home/Index">Home</a>
            <a class="btn btn-secondary" href="/Home/AboutUs">AboutUs</a>
            <a clsss="btn btn-danger" href="/Home/ContactUs">ContactUs</a>
            <a clsss="btn btn-success" href="/Home/Privcy">Privcy</a>
            <a clsss="btn btn-danger" href="/Account/Login">Login</a>
            <a clsss="btn btn-info" href="/Account/Register">Register</a>
     </center>
 </nav>


 @*End Header*@

    @*Start Body*@
    <center>
        <div class="mt-3 p-5 bg-primary text-white rounded">
            <h1>Wlcome To HomePage</h1>
            <p>Route</p>
        </div>
    </center>
    @*End Body*@
    

    @* start footer *@
    <footer class="mt-5">
        <center>
            <div>
                <p>CobyRights &copy; Route @DateTime.Now.Year<p>
            </div>
        </center>
    </footer>
    @* end footer *@

</body>
</html>
